<article class="row card">
  <header class="stats-bar">
    <h3 class="title--small">Today</h3>
    <p class="stats-bar__nutrients">
      <span class="calories" title="Calories">Cal: <span>560</span></span>
      <span class="protein" title="Proteins">Protein: <span>15</span></span>
      <span class="carbs" title="Carbs">Carbs: <span>60</span></span>
      <span class="fat" title="Fats">Fats: <span>8</span></span>
    </p>
  </header>
</article>

