<article class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
  <figure class="thumbnail thumbnail--no-border card">
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <img src="https://d2xdmhkmkbyw75.cloudfront.net/399_thumb.jpg" alt="banana">
    <figcaption class="caption">
      <p class="nutrients">
        <span class="calories" title="Calories">560</span>
        <span class="protein" title="Proteins">15</span>
        <span class="carbs" title="Carbs">60</span>
        <span class="fat" title="Fats">8</span>
      </p>
      <p class="date text-right">
        <!--(new Date(Date.now()).toDateString());-->
        Sun Sep 10 2017
      </p>
    </figcaption>
  </figure>
</article>

