<nav class="navbar navbar-default">
  <div class="container">
    <header>
      <a href="https://github.com/KostasDimakis/Health-Tracker" class="navbar-brand">
        Health Tracker
      </a>
    </header>
    <ul class="nav navbar-nav navbar-right">
      <li id="add"><a><span class="glyphicon glyphicon-plus"></span></a></li>
    </ul>
  </div>
</nav>

<main class="container">
  <div id="foods" class="row"></div>
</main>

