<nav class="navbar navbar-default">
  <div class="container">
    <header>
      <!-- Branding Image -->
      <a class="navbar-brand">
        Health Tracker
      </a>
    </header>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
    </ul>
  </div>
</nav>

<main class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <figure class="thumbnail thumbnail__no-border">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img src="https://d2xdmhkmkbyw75.cloudfront.net/399_thumb.jpg" alt="banana">
        <figcaption class="caption">
          <!--<h3>Banana</h3>-->
          <p class="nutritients">
            <span class="calories" title="Calories">560</span>
            <span class="protein" title="Proteins">15</span>
            <span class="carbs" title="Carbs">60</span>
            <span class="fat" title="Fats">8</span>
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
</main>

