<article class="media result">
  <div class="media-left media-middle">
    <img class="media-object media--thumbnail" src="https://d2xdmhkmkbyw75.cloudfront.net/399_thumb.jpg" alt="banana">
  </div>
  <div class="media-body">
    <h4>Banana</h4>
  </div>
</article>


