<article class="media result">
  <div class="media-left media-middle">
    <img class="media-object media--thumbnail" src="<%= img %>" alt="<%= name %>">
  </div>
  <div class="media-body">
    <h4><%= name %></h4>
  </div>
  <div class="media-right media-middle">
    <span class="glyphicon glyphicon-plus"></span>
  </div>
</article>


