<nav class="navbar navbar-default">
  <div class="container">
    <header class="search-view__header">
      <a id="back"><span class="glyphicon glyphicon-arrow-left"></span></a>
      <input id="input" type="text" class="form-control" placeholder="Search">
    </header>
  </div>
</nav>
<!--TODO: Wrap the results in a ul-->
<main id="results" class="container"></main>

