<nav class="navbar navbar-default">
  <div class="container">
    <form id="search-form" class="navbar-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>
</nav>

