<nav class="navbar navbar-default">
  <div class="container">
    <form id="search-form" class="navbar-form">
      <!-- TODO: Add a back button that navigates back to index-view -->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <!-- TODO: Add a search button that performs the search -->
    </form>
  </div>
</nav>

<main id="results" class="container"></main>

