<nav class="navbar navbar-default">
  <div class="container">
    <form id="search-form" class="navbar-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>
</nav>

<main id="results" class="container">
  <article class="media">
    <div class="media-left media-middle">
      <img class="media-object media--thumbnail" src="https://d2xdmhkmkbyw75.cloudfront.net/399_thumb.jpg" alt="banana">
    </div>
    <div class="media-body">
      <h4>Banana</h4>
    </div>
  </article>
</main>

