$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

//Disable navbar collapse

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.thumbnail__no-border {
  border: none;
}

.nutritients {
  border-top: thin solid #efefef;
  padding-top: 1em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.calories {
  color: #d2906e;
}

.protein {
  color: #d3666b;
}

.carbs {
  color: #eeeb5c;
}

.fat {
  color: #7c82e2;
}
